$btnColor: #FF2E51;
$title: #192040;
$text: #828299;

%roboto-400{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-400-italic{
  font-family: 'Roboto-Italic', sans-serif;
  font-weight: 400;
}

%roboto-500{
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700{
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}